.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  min-width: 320px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      var(--background-gradient-hero-color),
      var(--background-gradient-hero-color)
    ),
    url('../images/hero-background-img.jpg');
  background-color: var(--hero-footer-background-color);

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
  }
}

.hero__container {
  .hero__tittle {
    max-width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-background-color);

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  .hero__tittle--bottom-indent {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .hero__button--center {
    margin-left: auto;
    margin-right: auto;
  }
}
