.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  min-width: 320px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-footer-background-color);
  background-image: linear-gradient(
      to right,
      var(--background-gradient-hero-color),
      var(--background-gradient-hero-color)
    ),
    url('../images/hero-mobile-480.jpg');

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--background-gradient-hero-color),
        var(--background-gradient-hero-color)
      ),
      url('../images/hero-mobile-960.jpg');
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;

    background-image: linear-gradient(
        to right,
        var(--background-gradient-hero-color),
        var(--background-gradient-hero-color)
      ),
      url('../images/hero-tab-768.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-gradient-hero-color),
          var(--background-gradient-hero-color)
        ),
        url('../images/hero-tab-1536.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(
        to right,
        var(--background-gradient-hero-color),
        var(--background-gradient-hero-color)
      ),
      url('../images/hero-desktop-1600.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-gradient-hero-color),
          var(--background-gradient-hero-color)
        ),
        url('../images/hero-desktop-3200.jpg');
    }
  }
}

.hero__container {
  .hero__tittle {
    max-width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-background-color);

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  .hero__tittle--bottom-indent {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .hero__button--center {
    margin-left: auto;
    margin-right: auto;
  }
}
