.regular-clients {
  text-align: center;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.clients-item--indent {
  width: calc((100% - 4 * 15px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.clients-item--indent:not(:last-child) {
  margin-right: 30px;
}

.clients-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    max-width: 226px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 170px;
  }

  border: 1px solid var(--border-client-icon-color);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    border-color: var(--blue-text-background-color);
  }

  &:hover > .clients-item__logo,
  &:focus > .clients-item__logo {
    fill: var(--blue-text-background-color);
  }
}

.clients-item__logo {
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  fill: var(--border-client-icon-color);
}
